# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Gradio and other temp folders
.gradio/

# Media/output files
*.mp3
*.jpg

# Virtualenvs (if any)
venv/
env/

# OS files
.DS_Store
Thumbs.db
