# Cache & compiled files
__pycache__/
*.py[cod]

# Environment config
.env

# Gradio and other temp folders
.gradio/

# Media/output
*.mp3
*.jpg

# Virtual environments
venv/
env/

# OS-specific
.DS_Store
Thumbs.db
